<h1>Войти</h1>

<form action="<%= session_create_path %>" method="POST">
  <div>
    <input name="login" placeholder="Логин"/>
  </div>

  <div>
    <input name="password" type="password" placeholder="Пароль"/>
  </div>

  <div>
    <input type="submit">
  </div>
</form>
